.notification-item {
	display: flex;
	flex-direction: column;
	width: 100%;
	font-family: var(--font-family);
}

.notification-item a {
	color: var(--dark-blue);
	text-decoration: none;
	font-weight: var(--text-bold);
}

.notification-item a:hover {
	color: var(--blue);
}

.notification-primary-content {
	display: flex;
	align-items: flex-start;
}

.notification-author-photo {
	border-radius: 50%;
	flex-shrink: 0;
	height: 38px;
	width: 38px;
	margin-right: 14px;
}

.notification-author-photo img {
	border-radius: 50%;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.notification-author-name {
	margin-right: 8px;
}

.notification-action-msg {
	color: var(--grayish-blue);
	font-weight: var(--text-medium);
}

.notification-time {
	color: var(--grayish-blue);
	opacity: 0.6;
	margin-top: 2px;
}

@media screen and (min-width: 768px) {
	.notification-author-photo {
		height: 42px;
		width: 42px;
	}

	.notification-time {
		margin-top: 6px;
	}
}
