.notification {
	display: flex;
	flex-direction: column;
	width: 100%;
	font-family: var(--font-family);
	padding: 18px;
	border-radius: 8px;
}

.notification.unread {
	background-color: var(--very-light-grayish-blue);
}

.notification .unread-mark {
	background-color: var(--red);
	border-radius: 50%;
	content: '';
	display: inline-block;
	visibility: hidden;
	flex-shrink: 0;
	height: 8px;
	width: 8px;
	margin-left: 4px;
}

.notification.unread .unread-mark {
	visibility: visible;
}

.notification-link {
	color: var(--very-dark-blue);
	text-decoration: none;
	font-weight: var(--text-bold);
}

.notification-context-link {
	margin-left: 6px;
	color: var(--grayish-blue);
}

.notification-link:hover {
	color: var(--blue);
}

.notification .avatar,
.notification .avatar-skeleton {
	border-radius: 50%;
	flex-shrink: 0;
	height: 38px;
	width: 38px;
	margin-right: 14px;
	overflow: hidden;
}

.notification .avatar-skeleton {
	animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
	0% {
		background-color: hsl(200, 20%, 80%);
	}
	100% {
		background-color: hsl(200, 20%, 95%);
	}
}

.notification-preview-photo {
	border-radius: 8px;
	flex-shrink: 0;
	height: 40px;
	margin-left: 20px;
	overflow: hidden;
	width: 40px;
}

.notification img {
	height: 100%;
	object-fit: cover;
	width: 100%;
	background-color: var(--light-grayish-blue-1);
}

.notification .author-name {
	margin-right: 4px;
}

.notification .message {
	color: var(--grayish-blue);
	font-weight: var(--text-medium);
	line-height: 1.2;
	font-size: 16px;
	font-size: 14px;
}

.notification .stamp {
	display: inline-block;
	color: var(--grayish-blue);
	opacity: 0.6;
	margin-top: 2px;
	font-size: 14px;
}

.notification-content {
	margin-top: 12px;
	padding-left: 54px;
}

@media screen and (min-width: 768px) {
	.notification .avatar,
	.notification .avatar-skeleton {
		height: 42px;
		width: 42px;
	}

	.notification .stamp {
		margin-top: 6px;
	}

	.notification .message {
		font-size: 16px;
	}
}
